.hbar {
    width: 100%;
    padding-left: 5px;
    background: linear-gradient(to bottom,  #3C3C3C 0%,#404040 50%,#303030 98%);
    border-bottom: 1px solid #585858;
    display: table-row;
}


.hbar-title {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
}

.hbar-seldiv {
    vertical-align: middle;
    display: table-cell;
    cursor: pointer;
    padding: 0;
}

.selSect {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 6px;
    margin:10px;
}

.hbar-label {
    font-size: 80%;
    display: table-cell;
    padding: 5px;
}

.hbar-input {
    display: table-cell;
}

.hbar-input input {
    display: inline-block;
    background: transparent;
    border: none;
    color: #C0FFFF;
    font-size: 100%;
    border-bottom: 1px solid #585858;
}

.hbar-input select {
    display: inline-block;
    background: transparent;
    width: 12em;
    border: none;
    color: #C0FFFF;
    font-size: 100%;
    border-bottom: 1px solid #585858;
}

.hbar-ok {
    font-size: 80%;
    display: table-cell;
    padding: 5px;
}

.hbar-cancel {
    font-size: 80%;
    display: table-cell;
    padding: 5px;
}
